# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environment
.env
_env
.venv/
env/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Outputs
outputs/
expt/outputs/

__pycache__/*
**/__pycache__/*
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
tests/e2e_outputs/*